<div class="row">
    <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div appNgDropFiles class="well drop-zone mt-3" [ngClass]="{ 'file-over': overDrop }" [archives]="archives" (mouseOver)="overDrop = $event">
            <h4>Deje caer la foto aquí</h4>
            <img src="assets/drop-images.png" alt="drop-img">
        </div>
        <!--  -->
    </div>
    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button class="btn btn-success mr-3" (click)="loadImg()" [disabled]="archives.length === 0">Cargar a Firebase</button>
        <button class="btn btn-danger" (click)="cleanArchives()">Limpiar</button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre del archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archive of archives">
                    <td>{{ archive.archiveName}}</td>
                    <td>{{ archive.archive.size / 1024 / 1024 | number: '.2-2'}} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style]="{ 'width': archive.progress + '%'}"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>